---
title: {{title}}
author: {{author}}
{{#if cover}}
cover: /assets/{{cover}}
{{/if}}
description: {{desc}}
{{#if tag}}
tags:{{#each tag}}
    - {{name}}
{{/each}}
{{/if}}
---

{{#if toc}}
# Table of Contents
{:.no_toc}
* table of contents
{:toc}
{{/if}}
