@import 'partials/_terminal';

$background: #fafafa;
$text: #000;

body {
    // background-color: #A5C0FF;
    background-color: $background;
    position: relative;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-weight: 400;
    margin-bottom: 0;
}

.subline {
    font-size: 1.5rem;
    opacity: 0.7;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 32px;
}

ul {
    padding-top: 20px;
    padding-left: 0;
    display: flex;
}

li {
    list-style: none;
    display: inline;
    padding-right: 50px;
}

a {
    color: $text;
    text-decoration: none;
}

a:hover {
    width: 25%;
    border-bottom: 3px solid black;
}

#flip {
    width: 0px;
    height:0px;
    background-color: $background;
    position: fixed;
    bottom: 0;
    right: 0;

    border-left: 50px solid rgba(255, 255, 255, 0.2);
    border-bottom: 50px solid #272727;

    transition: border-width .2s ease-in-out;

    // box-shadow: -5px -5px 10px 0px #92a8da;
    box-shadow: -5px -5px 10px 0px rgba(80, 80, 80, 0.3);
}

#flip:hover {
    border-left-width: 60px;
    border-bottom-width: 60px;
    cursor: pointer;
    box-shadow: -7px -7px 17px 4px rgba(80, 80, 80, 0.3);
    // box-shadow: -7px -7px 17px 4px #92a8da;
}

#flip:hover::after {
    right: 70px;
}

#flip::after {
    position: absolute;
    font-family: Meslo, Menlo, Courier, monospace;
    content: 'click on me! =>';
    color: #FFF;
    background-color: $text;
    right: 60px;
    width: 150px;
    padding: 2px;
    text-align: center;
    box-shadow: -5px -5px 5px rgba(80, 80, 80, .3);
    transition: right .2s ease-in-out;
}

@media(max-width:815px) {
    ul {
        flex-direction: column;
    }
}
