---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">
            <figure>
                <img src="/assets/art/{{ page.src }}" alt="" class="main-image"/>
                <figcaption class="img-caption">{{ page.title }}</figcaption>
            </figure>
        <h1>What is it?</h1>
            {{ page.description }} 
        {% assign realContent = page.content | normalize_whitespace %}
        {% if realContent != "" %}
        <h1>Story</h1>
            {{ page.content }}
        {% endif %}
        {% if page.others %}
        <h1>More Images</h1>
        {% for img in page.others %}
        <img src="/assets/art/{{ img }}" alt="" class="other-image"/>
        {% endfor %}
        {% endif %}
        </div>
    </div>

  </body>

</html>

