.highlight code {
    padding: 0;
}

pre.highlight {
    font-family: Consolas, monospace;
    font-size: 14px;
    line-height: 1.5;

    margin: 10px;
}

div.highlight {
    width: 100%;
    overflow-x: scroll;
}
