.highlight .lineno {
    user-select: none;
}

.highlight .gutter {
    padding: 0px 5px;
    background-color: #444
}

.highlight .code {
    padding: 0px 10px;
}

.highlight pre {
    font-family: Consolas, monospace;
    font-size: 14px;
    line-height: 1.5;
}

.highlight {
    overflow-x: scroll;
    width: 100%;
    margin: 30px 0 30px 50%;
    transform: translateX(-50%);
}
