body.terminal {
    background-color: #272727;
    color: #0EFF1F;
    font-family: 'Menlo', 'Meslo', Monospace;
    font-size: 16px;
    line-height: 24px;
}

#buffer {
    width: 80vw;
    max-width: 400px;
    margin: 0 auto;
}
